*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body {
      font-family: 'Lato', sans-serif;
      color: #272727;}

/*Header Styles */

header {
  padding: 1% 2%;}

header a{
  padding: 1rem;
  color: #787878;
}

 header a:hover{color: black;}

 .logo{
   font-size: 2rem; 
 }


/* Utility Classes */

.padded  {padding:5%;}
.padded-1{padding:1rem;}

.bg-featured{background-color:#4834d4;}
.bg-light   {background-color:white;}
.bg-dark {
  background-color:#272727;
  color: white;}

.light-text{ color:white;}

.bg-image {
  background-color:light-blue;
  background-image: url('https://source.unsplash.com/fg_FSTo7ejw');
  background-size:cover;
  background-position:center;
  padding:0.5rem;
  padding-bottom: 40%; 
  color:white;
}

.portrait {
    padding-bottom:100%;
}


/* Universal Styles */

h2, h3, h4, h5, h6 {
  line-height: 1.1;
  margin-bottom: 0.8rem;
}

p{
  line-height: 1.4;
  margin-bottom:0.8rem;
  font-size: 0.9rem;
  font-weight:300;
}

a{
  font-size: 0.8rem;
  text-decoration: none;
  color:inherit;
}

/* Padding Utility Classes */ 
.padded-sm { padding: 2.5%; }
.padded-md { padding: 5%;   }
.padded-lg { padding: 10%;  }

.padded-05 { padding: 0.5rem; }
.padded-1 { padding: 1rem; }
.padded-2 { padding: 2rem; }

/*Universal Typography styles*/

.left    { text-align: left; }
.right   { text-align: right; }
.center  { text-align: center; }

/*last child*/
h2:last-child, 
h3:last-child, 
h4:last-child,
h5:last-child,
h6:last-child,
p:last-child {
margin-bottom: 0;
}

.inline {
  display:inline-block;
}

.socials {
  display: inline-block;
  font-size: 2rem;
  color: white;
}